{
  "swagger": "2.0",
  "info": {
    "version": "$createdOn",
    "title": "$apiName"
  },
  "host": "$host",
  "basePath": "$stage",
  "schemes": [
  ## Assuming that only https will be exposed
    "https"
  ],
  "paths": {
#foreach( $resource in $resources )	
    "/$resouce.name": {
#foreach( $method in $resource.getMethods() )    
      "$method.name": {
        "produces": [
          ## Assuming that only json will be produced	        
          "application/json"
        ],
        "parameters": [
#foreach ($parameter in $method.getParameters() )
          {
            "name": "$parameter.name",
            ## Assuming that parameters will be used in paths only
            "in": "path",
            "required": $parameter.required,
            ## Assuming only string parameters
            "type": "string"
          }#if( $foreach.hasNext ), #end
#end        
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {}
          }
        }
      }#if( $foreach.hasNext ), #end
#end
#end      
    }
  },
  "definitions": {
    "Empty": {
      "type": "object"
    }
  }
}